@import "tailwindcss";
@plugin "daisyui";


:root {
    background-color: #09090b;
}


body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    animation: fadeIn 1s;
}

h1 {
    font-family: 'Manrope', sans-serif;
}

.icon-left {
    position: absolute;
    top: 45%;
    left: 0;
    width: 200px;
    transform: translateX(-150%) rotate(-20deg);
    animation: slideInLeft 1.5s ease-out forwards;
}

.icon-right {
    position: absolute;
    top: 45%;
    right: 0;
    width: 200px;
    transform: translateX(150%) rotate(20deg);
    animation: slideInRight 1.5s ease-out forwards;
}


@keyframes slideInRight {
    0% {
        transform: translateX(150%) rotate(20deg);
    }

    100% {
        transform: translateX(45%) rotate(-50deg);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-150%) rotate(-20deg);
    }

    100% {
        transform: translateX(-45%) rotate(50deg);
    }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
