.box {
    background: transparent;
    border-title-align: center;
    border-subtitle-align: center;
    border: round $primary;
    margin: 1;
    padding: 0 2 0 2;
}

Input {
    margin: 1 0 1 0;
}

Button {
    margin: 1;
    width: auto;
}

DataTable {
    height: 10;
}

