@import "tailwindcss";
@plugin "daisyui";


button {
  border: 2px solid;
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  border-radius: 12px;
}

button svg {
  display: block;
  vertical-align: middle;
  margin-top: -2px;
  width: 1em;
  height: 1em;
}


@media (max-width: 768px) {
  img {
    display: none;
  }
}

.icon-left {
    position: absolute;
    top: 45%;
    left: 0;
    width: 200px;
    transform: translateX(-150%) rotate(-20deg);
    animation: slideInLeft 1.5s ease-out forwards;
}

.icon-right {
    position: absolute;
    top: 45%;
    right: 0;
    width: 200px;
    transform: translateX(150%) rotate(20deg);
    animation: slideInRight 1.5s ease-out forwards;
}


/* Buttons */
.btn-base {
  position: relative;
  border-radius: 7px;
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.25s ease;
}

.btn-base::before {
  content: '';
  position: absolute;
  top: 7%;
  left: 0;
  width: 0;
  height: 86%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
  transition: all 0.2s ease-in;
}

.btn-base:hover::before {
  animation: shine 0.5s linear;
}

.btn-base:active {
  box-shadow: 0 0 0 0 transparent;
}

.telegram-button {
  composes: btn-base;
  border-color: #00bfff;
}

.telegram-button:hover {
  color: #ffffff;
  background: #00bfff;
  box-shadow: 0 0 30px 5px rgba(0, 191, 255, 0.8);
}

.youtube-button {
  composes: btn-base;
  border-color: #ff3b3b;
}

.youtube-button:hover {
  color: #ffffff;
  background: #ff3b3b;
  box-shadow: 0 0 30px 5px rgba(255, 59, 59, 0.8);
}

.events-button {
  composes: btn-base;
  border-color: rgba(77,77,77,0.35);
  padding: 10px 20px;
}

.events-button:hover {
  color: #ffffff;
  background: #6B7280;
  box-shadow: 0 0 20px 3px oklch(70.4% 0.04 256.788);
}

